<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Mp4 Converter</title>
        <link rel="stylesheet" type="text/css" href="../static/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/dist/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/dist/css/ReactCrop.css">

    </head>
    <body>
        <!-- Main -->
        <div id="app"></div>
        <script src="../static/dist/bundle.js"></script>
    </body>
</html>
