<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Upload</title>
    <script>
        var img = "{{ img }}";
        var textdims = JSON.parse('{{ textdims | tojson | safe }}');
        var picdims = JSON.parse('{{ picdims | tojson | safe }}');
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
    <script src='/static/src/jquery.min.js'></script>
    <script src='/static/src/Jcrop.js'></script>
    <script src='/static/src/jquery.color.js'></script>
    <script src='/static/src/crop.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/src/crop.css'>
    <link rel='stylesheet' type='text/css' href='/static/src/Jcrop.css'>
    <!-- I was orignally doing [[ url_for('static', fielname-...) ]], but that
        doesn't seem to work for some reason :(. Replace [[]] with curly obv-->
</head>

<body>
    <div id='init' style='display:none'> {{init}} </div>
    <div id='end' style='display:none'> {{end}} </div>
    <div type='hidden' id='filename' value='{{ name }}'></div>
    <div type='hidden' id='folder' value='{{ folder }}'></div>
    <div type='hidden' id='parent' value='{{ parent }}'></div>
    <h1> Process File Upload stuff </h1>

    <div id='interface'>
        <img src="{{ img+'/'+init+'.png' }}" id='target'>
    </div>
    <div id='text_inf'> Text: X
        <input type="text" name="tcropx" id="tcropx" value="{{ textdims['xmin'] }}" /> Y
        <input type="text" name="tcropy" id="tcropy" value="{{ textdims['ymin'] }}" /> W
        <input type="text" name="tcropw" id="tcropw" value="{{ textdims['xmax'] - textdims['xmin'] }}" /> H
        <input type="text" name="tcroph" id="tcroph" value="{{ textdims['ymax'] - textdims['ymin'] }}" />
    </div>
    <div id='pic_inf'> Pic: X
        <input type="text" name="pcropx" id="pcropx" value="{{ picdims['xmin'] }}" />
        <input type="text" name="pcropy" id="pcropy" value="{{ picdims['ymin'] }}" /> W
        <input type="text" name="pcropw" id="pcropw" value="{{ picdims['xmax'] - picdims['xmin'] }}" /> H
        <input type="text" name="pcroph" id="pcroph" value="{{ picdims['ymax'] - picdims['ymin'] }}" />
    </div>
    <input type="text" name="email" id="email"/>
    <br>
    <button id="submit">Submit!</button>

</body>