<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Slide Select</title>
    <script type=text/javascript>
            var filename = '{{ file }}';
            var folder0 = '{{ url_for("static", filename=folder0) }}';
            var folder = '{{ folder }}';
            var rel_folder = '{{ rel_folder }}';
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    <script src='/static/src/jquery.min.js'></script>
    <script src='{{url_for("static", filename="src/select.js")}}'></script>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="src/style.css")}}'></link>
</head>

<body>
    <!-- <div id="filename" style="display:none">{{ file }}</div> -->


</body>


</html>