<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload</title>
    <script src='/static/src/jquery.min.js'></script>
    <script src='/static/src/test.js'></script>
</head>
<body>
    <h1>MP4 Converter</h1>
    <p> <strong> FOR NOW don't click on the back button if you make a mistake,
        rather just restart. Functionality for the back button will be added in
        later</strong> along with other updates</p>
    <!-- the action below returns the endpoint, does it look for the method upload? Not sure tbh -->
    <form id="upload-form" action="{{ url_for('index') }}" method="POST"
                                                            enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*"> <!-- change this from all videotypes later? -->
        <input type='submit' value='send'>
    </form>
</body>
